/* Estilo general para el modal */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Título del modal */
.modal-content .modal-header .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-content .modal-header {
    background-color: #343a40;
    color: #fff;
    border-bottom: 1px solid #dee2e6;
}

/* Botón cerrar del modal */
.modal-content .modal-header .close {
    color: #fff;
    opacity: 0.8;
}

.modal-content .modal-header .close:hover {
    color: #fff;
    opacity: 1;
}

/* Estilo para la tabla dentro del modal */
.modal-content .table {
    margin-bottom: 0; /* Para reducir el espacio entre la tabla y el contenido inferior */
}

.modal-content .table-bordered {
    border: 1px solid #dee2e6;
}

.modal-content .table-bordered th,
.modal-content .table-bordered td {
    border: 1px solid #dee2e6;
    text-align: left;
    vertical-align: middle;
}

/* Estilo para los encabezados de la tabla */
.modal-content .table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
    color: #495057;
}

/* Estilo para las celdas de la tabla */
.modal-content .table tbody td {
    padding: 10px;
    font-size: 0.95rem;
}

/* Hover para las filas de la tabla */
.modal-content .table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Botón de refrescar */
.modal-content .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.modal-content .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Responsive: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .modal-dialog {
        width: 100%;
        margin: 10px;
    }

    .modal-content {
        border-radius: 5px;
    }

    .modal-content .modal-header {
        padding: 10px;
    }

    .modal-content .modal-body {
        padding: 10px;
    }

    .modal-content .table-responsive {
        font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
    }
}


#tabla3 {
    width: 100%;
    border-collapse: collapse;
}

/* Estilo para las celdas de encabezado */
#tabla3 thead th {
    background-color: #343a40; /* Color de fondo para el encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
    text-align: left;
    padding: 8px;
}

/* Estilo para las filas de la tabla */
#tabla3 tbody tr td {
    padding: 8px;
    border: 1px solid #dee2e6;
}

/* Colores para los diferentes totales */
#TotalNeto {
    background-color: #d1ecf1; /* Fondo celeste claro */
    color: #0c5460; /* Texto azul oscuro */
    font-weight: bold;
}

#Exento {
    background-color: #f8d7da; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
    font-weight: bold;
}

#Iva {
    background-color: #fff3cd; /* Fondo amarillo claro */
    color: #856404; /* Texto amarillo oscuro */
    font-weight: bold;
}

#TotalBruto {
    background-color: #d4edda; /* Fondo verde claro */
    color: #155724; /* Texto verde oscuro */
    font-weight: bold;
}

/* Estilo para el botón de emitir factura */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}